<div class="container">
	<div class="row" style='height:100px'>MKS 44 Deep </div>
  <div class="row">
      <div id='searchField' class="col-md-4">
        <input ng-model="searchQuery" id="search" type="text">
        <button ng-click="searchTracks(searchQuery)">Submit</button>
        <div ng-repeat="result in results" ng-click="getTrack(result.permalink_url)" class="row container">
        <!-- need to account for null artwork -->
	        <img src={{result.artwork_url}}>
	        {{result.permalink}}
        </div>
      </div>
      <div id="queue" class="col-md-8">
        <div class="row" ng-repeat=""
      </div>
  </div>
</div>