

/*#banner {
	background-color: #cecdcd;
	width: 100%;
}

#tabs{
	background-color: #cecdcd;
	width: 100%;
}*/
#banner {
	margin-top: 10px;
	margin-bottom: 20px;
}

#banner>div>img {
	height: 100px;
	float: right; 
}

.searchResults {
	overflow: scroll;
	height: 100%;
}

/*.row {
	margin-bottom: 10px;
}*/

.search {
	width: 200px;
}

button {
	margin-bottom: 20px;
}

.searchResults>.row {
	margin-bottom: 10px;
	/*width: 580px;*/
}

/*.searchResults>.spotify:hover img{
	width: 120px;
	transition-delay: 0.05s;
	-webkit-transition-delay: 0.05s;
}
*/
.searchResults>.soundcloud img{
	height:70px;
	width:70px;
}	

/*.searchResults>.soundcloud:hover img{
	height: 95;
	width: 95px;
	transition-delay: 0.05s;
	-webkit-transition-delay: 0.05s;
}	*/

.nav-tabs>li.active>a:hover {
	background-color: #cecdcd;
	color: white; 
}

#tabs {
	margin-bottom: 20px;
}