<div class="container">
	<!-- <div class="row" style='height:100px'>
    <div id='tab' class="col-md-4">Soundcloud</div>
  </div> -->
  <ul id="tabs" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#">Soundcloud</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active">

      <div class="row">
          <div id='searchField' class="col-md-4">
            <input ng-model="searchQuery" id="search" type="text">
            <button ng-click="searchTracks(searchQuery)">Submit</button>
            <div ng-repeat="result in results" ng-click="getTrack(result.permalink_url)" class="row container">
            <!-- need to account for null artwork -->
    	        <img src={{result.artwork_url}}>
              <img ng-show={{!result.artwork_url}} src="assets/noart.jpg" style='height:100px;width:100px'>
    	        {{result.permalink}}
            </div>
          </div>
          <div id="queue" class="col-md-8">
          </div>
      </div>

    </div>
  </div>

</div>