<div class="tab-content">
  <div class="tab-pane fade in active">
    <input ng-model="soundcloudQuery" class="search" type="text" placeholder="Search Soundcloud">
    <button ng-click="searchTracks(soundcloudQuery)">Submit</button>

    <div class="container searchResults">
    	<!-- <h5 class="row" ng-show={{!!scResults.length}}>Search results for {{soundcloudQuery}}</h5> -->
      <img ng-show="loading" src="../assets/spiffygif_46x46.gif">
	    <div ng-repeat="result in scResults" ng-click="broadcastUrl(result.permalink_url)" class="row soundcloud">
	    	<div class="col-md-1">
	        <img ng-show={{result.artwork_url}} src={{result.artwork_url}}>
	        <img ng-show={{!result.artwork_url}} src="assets/noart.jpg">
	      </div>
        <div class="songInfo col-md-4">
        	<h4>{{result.title}}<small> {{result.user.username}} </small></h4>
        </div>
	    </div>
	  </div>

  </div>
</div>